<h1>New Note</h1>
<%= form_for @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :urgency %>
  <%= f.text_field :urgency %>

  <%= f.label :deadline %>
  <%= f.text_field :deadline %>

  <%= f.submit %>
<% end %>